<!--
Here is the main HTML where handlebars will render to
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Connect.Me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="assets/css/typed.js"></script>
      <script>
        $(function(){
          $(".element").typed({
            strings: ['"Connect."',' "Me."','"Connect.Me"'],
            typeSpeed: 100
          });
        });

      </script>

        <script>var timenow = new Date(); 
                timenow.getHours();
                timenow.getMinutes(); 
                timenow.getSeconds();
                console.log(timenow);

                $(function(){
                $(".t").html(timenow);
               });
                </script>


        <script>
     var queryUrl = "https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=b9f91d369ff59547cd47b931d8cbc56b:0:74623931&q=news&begin_date=20161212&end_date=20161212"
     
     $.ajax({
       url:queryUrl,
       method: 'GET'
     })
     .done(function(response){
         var pic = response.response.docs[0].multimedia[0].url
       var frontUrl = "https://static01.nyt.com/";
       $("#newsimg").append("<img src="+ frontUrl+response.response.docs[0].multimedia[0].url+">");
         $("#newscontent").append("<p>"+response.response.docs[0].abstract +"</p>");         
       console.log(response.response.docs[0]);
        $("#newsimg2").append("<img src="+ frontUrl+response.response.docs[1].multimedia[0].url+">");
        $("#newscontent2").append("<p>"+response.response.docs[1].abstract + "</p>");
        $("#newsimg3").append("<img src="+ frontUrl+response.response.docs[2].multimedia[0].url+">");
         $("#newscontent3").append("<p>"+response.response.docs[2].snippet + "</p>");


     })

</script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>Connect</title>
  </head>
	<body class="signuppage">
		{{!-- <p>
			{{#unless logged_in}}
				<a href="/users/sign-in">Sign In</a>
				<a href="/users/new">Sign Up</a>
			{{/unless}}

			{{#if logged_in}}
				Welcome {{email}}! <br>
				You are user {{user_id}}.<br>
				<a href="/users/sign-out">Sign Out</a>
			{{/if}}
		</p> --}}
		{{{ body }}}
	</body>
</HTML>
