body{
 background-color:black;
}
li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: #3b5998;
  margin: 25px;
  padding: 55px;
}

.form-group {
  margin-bottom: 5px;
}


.add{

}

.banner{
  background-color: #fefefe;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
      background-color:white;
      opacity:1;

}
h1{
  margin-top: 0;
}

#title{
  color:white;
  font-size:30px;
  background-color:



#163236;
  width:90%;
  height:5%;
  border-radius: 5px;
  text-align:center;
  margin: 10px auto;

}

#slogan{
  color:white;
  margin-left:10%;;
}
.container{
  position:relative;
  margin-top:30px;
	left:10px;
	width:150px;
	margin-left:100px;
	margin-right:10px;
  color:black;

}
#butt{
  background-color:
#163236;
  border:
#163236;


}
/*.signuppage button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
    height:50%;
}*/
.butt1{
  background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
    height:50%;
}
.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}


.whitesheet{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#bababb;
  opacity:0.4;
}

#photo{
  width:300px;
}


.footer {
  position: absolute;
  bottom: 300;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background:




#163236;
}
.note{
  color:white;
  font-size:15px;
  margin-left:7%;
  margin-top:15%;

}
.footnote{
  margin-left:50%;
  margin-top:10px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1; /* Sit on top */*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 103%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color:#fcf8e3;

}

.modal-1 {
    /*background-color: #fefefe;*/
    margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
   /* background-color:#bababb;*/
    opacity:0.8;
    border-radius:10px;

}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 43%;
    background-color:#bababb;
    opacity:1;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}




/*/////////////////////*/
body{
 background-color:
#e7e9ec;
font-size:10px;
}
li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: #3b5998;
  margin: 25px;
  padding: 55px;
}

.form-group {
  margin-bottom: 5px;
}


.add{

}
#del{
  background-color:#e7e9ec;
  color:black;
}
.bahhhh{
  height:60px;
  background-color:#163236;
  margin-top: 0;
  width:100%;

}
.rawr {
    background-color: #fefefe;
    margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:30%; /* Could be more or less, depending on screen size */
    background-color:#bababb;
    opacity:0.8;
    border-radius:10px;

}

h1{
  margin-top: 0;
}
.box{
  background-color:white;
  width:30.5%;
  height:150px;
  float:left;
  padding:18px 18px;
  margin: 0.8% 0.8%;
  border: 1px #eee solid;
}
.myconnects{
  background-color:white;
  width:50%;
  height:150px;
  /*float:left;*/
  padding:18px 18px;
  margin: 0.8% 0.8%;
  border: 1px #eee solid;
}

.box img{
  float:left;
  margin-right: 15px;
}
.boxin{
  margin-left:3px;
}
#slogan{
  color:white;
  margin-left:2%;
}
#q1{
  width:165px;
  height:28px;
}

#sidebar{
  position:fixed;
  top: 100px;
  left: 82%;
  height:85%;
  background-color:white;
   border: 1px #eee solid;
}
.online img{
  margin-right:15px;
  margin-bottom:10px;
}
#profile{
  /*position:absolute;
  right:20%;
  top:1%;*/
  margin-left:75%;
  margin-top:0;
}
#mypage{
  background-color:white;
  height:1200px;
}
#bannerdiv{
  background-image: url(banner.jpg);
  height: 300px;
  width: 96%;
  position:absolute;
  z-index:1;
}
#pic img{
  position:relative;
  z-index:2;
  margin-left:10%;
  margin-top:30%;
  border: 7px #e7e9ec solid;
  float:left;
  margin-right:20px;

}
#name{
  color:white;
  position:relative;
  z-index:2;
  margin-top:30%;
  font-size:20px;
}

#postbar{
  height:100px;
  width:90%;
  margin-left:5%;

}
#postsubmit{
  margin-left:80%;
}
#chatty{
  width:200px;
  margin-bottom:10px;
}
#wall{
  margin-top:10%;
  border: 1px #e7e9ec solid;
  height:800px;
}
#feed{
  margin-top:15px ;
  margin-left:5%;
  border: 1px
#b1b1b1 solid;
  width:90%;

}
#aboutme{
  margin-top:60px;
  color:black;
  position:relative;
  z-index:2;
  border-bottom: 1px #e7e9ec solid;
  z-index:1;
  padding-bottom:15px;
  font-size:12px;

}

#wallpost{
  margin-top:60px;
  color:black;
  position:relative;
  z-index:2;
  border-bottom: 1px #e7e9ec solid;
  z-index:1;
  padding-bottom:15px;
  font-size:12px;
  margin-left:50px;
  margin-right:50px;
  font-size:20px;
  } 
#aboutleft{
  border:0.6px grey solid;
  color:grey;
  font-size:20px;
}
#aboutright{
 border:1px grey solid;
  color:grey;
  font-size:20px;
}
.t{
    font-size:15px;
    color:grey;
    margin-bottom:25px;
}
#me{
  margin-left:5%;
  background-color: white;
  border: 0px #e7e9ec solid;
}
#connection{
  margin-left:5%;
  background-color: white;
    border: 0px #e7e9ec solid;
}
#update{
  margin-left:5%;
  background-color: white;
    border: 0px #e7e9ec solid;
}
#signin{
  border-right: 1px grey solid;
  line-height: 20px;
}
#linkedin{
  margin-left:10px;
  margin-top:25px;
}
#signup{
  border-right: 1px grey solid;
  padding-right:30%;
}
#buttonclear{
  background: none;
     border: 0;
     color: inherit;
     /* cursor: default; */
     font: inherit;
     line-height: normal;
     overflow: visible;
     padding: 0;
     -webkit-appearance: button; /* for input */
     -webkit-user-select: none; /* for button */
        -moz-user-select: none;
         -ms-user-select: none;
}
#buttonclear2{
  background: none;
     border: 0;
     color: inherit;
     /* cursor: default; */
     font: inherit;
     line-height: normal;
     overflow: visible;
     padding: 0;
     -webkit-appearance: button; /* for input */
     -webkit-user-select: none; /* for button */
        -moz-user-select: none;
         -ms-user-select: none;
    margin-top:15px;
}
#buttlinkedin{
  background-color:#0077b5;
  color:white;
  border: 0.5px black solid;
}
.addbutton{
  margin-top:10px;
  border-radius:2px;
  border:0.5px black solid;
}
#findconnections{
  margin-left:50px;
  margin-top:20px;
  width:200px;
  margin-bottom:20px;
}
#news, #news2, #news3{
 margin:10px;
 margin-bottom:10px;
 font-size:16px;
 overflow:hidden;
 padding:2px;
 background-color:#eeeeee ;
 padding-left:10px;
 padding-right:10px;
}
#news p, #news2 p, #news3 p {
 float:right;

}
#news img{
   float:left;

}
.nyt{
 margin-bottom:130px;
 margin-top:90px;
 border: 0.5px solid black;
}
