<video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" width="300" height="150">
<source src="assets/typing.mp4" type="video/mp4">
  </video>



<!-- <div class="whitesheet"> -->
<div class="modal-1 animate">
    <h1 id=title>

        <span class="element"></span></h1>
    <i id="slogan">a platform to network with professional individuals</i>

    <form action="/log_in" method="POST">
        <div class="row">
            <div class="col-md-4" id="signin">
                <div class="container">
                    <label class="inputs"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required><br>

                    <label class="inputs"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required><br>

                    <button type="submit" class="btn btn-warning" id="butt" class="butt1">Login</button>
                    <input type="checkbox" checked="checked"> Remember me <br>
                </div>

                <div class="container">
                    <span class="psw">Forgot <a href="#">password?</a>
    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-warning" id="buttah">Sign Up</button>



</form>
</div>


</div>

  <div class="col-md-5" id="linkedin">
  <button onclick="document.getElementById('id02').style.display='block'"  id="buttonclear"><img src="/assets/css/linkedinbutton.png" height="50%" width="50%"/></button>
</div>



</div>
















  <div id="id01" class="modal" >

    <form class="modal-content animate" class="create-update-form" action="/register" method="POST">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>



                <div class="row">

                    <div class="col-md-3" id=signup>
                        <div class="container">
                            <label class="inputs"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>

                            <label class="inputs"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="password" required>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-warning" id="butt">submit</button>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>




                    <div class="col-md-3">
                        <div class="container">
                            <div class="form-group">

                                <label for="ca">First name</label><br>
                                <input type="text" id="ca" name="firstname"><br>

                                <label for="ca">Last name</label><br>
                                <input type="text" id="ca" name="lastname"><br>

                                <label for="ca">Age</label><br>
                                <input type="text" id="ca" name="age"><br>


                                <label for="ca">company</label><br>
                                <input type="text" id="ca" name="company"><br>



                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" id=top>
                        <div class="container">

                            Position
                            <select data-placeholder="" class="chosen-select" id="q1" name="position">
          <option value=""></option>
            <option value="administration"> Administration </option>
            <option value="operations"> Operations </option>
            <option value="finance/accounting"> Finance/Accounting </option>
            <option value="management"> Management </option>
            <option value="engineering"> Engineering </option>
            <option value="marketing and sales"> Marketing and Sales </option>
            <option value="human resources"> Human Resources </option>
            <option value="purchasing"> Purchasing </option>
            <option value="other position"> Other position </option>
          </select> industry
                            <select data-placeholder="" class="chosen-select" id="q1" name="industry">
        <option value=""></option>
          <option value="technology"> Technology </option>
          <option value="finance"> Finance </option>
          <option value="manufacturing"> Manufacturing </option>
          <option value="healthcare"> Healthcare</option>
          <option value="retail"> Retail </option>
          <option value="education"> Education </option>
          <option value="arts and recreation"> Arts and Recreation </option>
          <option value="other services"> Other services </option>
        </select> level
                            <select data-placeholder="" class="chosen-select" id="q1" name="level">
          <option value=""></option>
              <option value="intern"> intern </option>
              <option value="junior"> junior </option>
              <option value="intermediate"> intermediate </option>
              <option value="senior"> senior </option>
              <option value="manager/director"> manager/director </option>
              <option value="executive"> executive </option>
            </select> Link to Professional Photo (Required)
                            <input type="text" name="photo" id="photo" class="form-control" required>
                        </div>
                    </div>

                </div>



    </form>
    </div>

    <div id="id02" class="modal">


        <form class="modal-content animate" class="create-update-form" action="connect/create" method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>



            <div class="row">

                <div class="col-md-3" id=signup>
                    <div class="container">
                        <h5> Sign in to Linkedin to allow access </h5> <br>
                        <label><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>

                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-warning" id="butt">allow access</button>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>




                <div class="col-md-8">

                    <div class="linkedincontainer">

                        <h4>Connect.Me would like to access some of your LinkedIn info:</h4>
                        <br>
                        <br>
                        <ul>
                            <h5>YOUR FULL PROFILE</h5><br> Full profile including experience, education, skills, and recommendations<br><br>
                            <h5>YOUR EMAIL ADDRESS</h5><br> The primary email address you use for your LinkedIn account<br><br>
                            <h5>LINK ACCOUNTS</h5><br> Lynda will share account and activity data with LinkedIn<br><br>
                        </ul>
                    </div>
                    </p>

                </div>

            </div>
        </form>
    </div>


    </div>